<div class="container body-content">




    <h2>Start</h2>

    <p><h2><strong> How to get started and use the site!</strong></h2></p>
    <br />
    <p><h2> 1. Click <b>register</b> and create an account</h2></p>
    <li><a href="#"><img src="../images/Start/tut1.png" alt="" /></a></li>
    <li></li>
    <p><h2> 2. Choose a unique username and a password with at least 8 characters - one uppercase, one lowercase and one number required!</h2></p>
    <br />
    <li><a href="#"><img src="../images/Start/tut2.jpg" alt="" /></a></li>
    <p><h2> 3. Click "Message Board" and get started with the forum!</h2></p>
    <li><a href="#"><img src="../images/Start/tut3.jpg" alt="" /></a></li>


</div>