@{
    ViewBag.Title = "WebsiteSuggestion";
}

<!DOCTYPE html>
<html>
<body>
    <h2>Website Feedback - rants and raves!</h2> <br />
    <h2>Your feedback will be reviewed by an administrator</h2>
    <form method="post" action="~/EmailForms/ProcessWEBSITEsuggestionRequest.cshtml">
        <div>
            Your name:
            <input type="text" name="customerName" />
        </div>

        <div>
            Your email address:
            <input type="text" name="customerEmail" />
        </div>

        <div>
            Feedback for the website's design: <br />
            <textarea name="customerRequest" cols="45" rows="4"></textarea>
        </div>

        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
</body>
</html>