@model Sprint1Test.Models.Skill

@{
    ViewBag.Title = "SkillEdit";
}

<h1>Admin Portal</h1>
<p>Welcome to the Admin Skill Edit Portal. Click the buttons below to access the various pages to edit skills and things related to skills.</p>

<h2>Category</h2>

<a href="~/Category/Create" class="myButton" role="button">Create</a>
<a href="~/Category/Edit" class="myButton" role="button">Edit</a>
<a href="~/Category/Details" class="myButton" role="button">Details</a>
<a href="~/Category/Delete" class="myButton" role="button">Delete</a>

<h2>SubCategory</h2>

<a href="~/SubCategory/Create" class="myButton" role="button">Create</a>
<a href="~/SubCategory/Edit" class="myButton" role="button">Edit</a>
<a href="~/SubCategory/Details" class="myButton" role="button">Details</a>
<a href="~/SubCategory/Delete" class="myButton" role="button">Delete</a>

<h2>Skills</h2>

<a href="~/Skill/Create" class="myButton" role="button">Create</a>
<a href="~/Skill/Edit" class="myButton" role="button">Edit</a>
<a href="~/Skill/Details" class="myButton" role="button">Details</a>
<a href="~/Skill/Delete" class="myButton" role="button">Delete</a>